.h5p-impress-presentation {
  position: relative;
}

.h5p-impress-presentation .jmpress {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 10;
  -webkit-transform: translate3d(0,0,2px);
  -moz-transform:    translate3d(0,0,2px);
  -ms-transform:     translate3d(0,0,2px);
  -o-transform:      translate3d(0,0,2px);
  transform:         translate3d(0,0,2px);
}

.h5p-impress-presentation .h5p-impress-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
}

.h5p-impress-presentation .h5p-standard-view.has-background .h5p-impress-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.h5p-impress-presentation .h5p-impress-overlay.hide {
  display: none;
}

.h5p-impress-presentation .h5p-standard-view {
  z-index: 1;
  width: 800px;
}

.h5p-impress-presentation .h5p-standard-view.h5p-center-view {
  text-align: center;
}

.h5p-impress-presentation .h5p-impress-background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.h5p-impress-presentation .h5p-impress-background img {
  width: 100%;
  height: auto;
}

.h5p-impress-presentation .h5p-impress-background img.fit-to-height {
  height: 100%;
  width: auto;
}
